<!-- game.component.html -->
<div class="game-container">
  <div class="mode-and-score">
    <div
      class="game-mode text-left text-large"
      (click)="!isChoosing || setGameMode('RPS')"
      [class.game-mode-active]="getGameMode() === 'RPS'"
    >
      <p>Rock</p>
      <p>Paper</p>
      <p>Scissors</p>
    </div>

    <div class="score">
      <p>Score</p>
      <p>{{ getScore().wins }}</p>
      <!-- <p>Losses: {{ getScore().losses }}</p>
      <p>Draws: {{ getScore().draws }}</p> -->
    </div>

    <div
      class="game-mode text-right"
      (click)="!isChoosing || setGameMode('RPSLS')"
      [class.game-mode-active]="getGameMode() === 'RPSLS'"
    >
      <p>Rock</p>
      <p>Paper</p>
      <p>Scissors</p>
      <p>Lizard</p>
      <p>Spock</p>
    </div>
  </div>

  @if (isChoosing) {
  <div class="choices">
    <button (click)="play('rock')">Rock</button>
    <button (click)="play('paper')">Paper</button>
    <button (click)="play('scissors')">Scissors</button>
    @if(getGameMode() === "RPSLS") {
    <button (click)="play('lizard')">Lizard</button>
    <button (click)="play('spock')">Spock</button>
    }
  </div>
  } @else {
  <div class="result">
    <p>Your choice: {{ playerChoice }}</p>
    <p>Computer's choice: {{ computerChoice }}</p>
    <p>Result: {{ result }}</p>
  </div>

  <button (click)="resetGame()">Play Again</button>

  }
</div>
