<div class="game-container">
  <div class="mode-and-score">
    <div
      class="game-mode text-right"
      (click)="!isChoosing || setGameMode('RPS')"
      [class.game-mode-active]="getGameMode() === 'RPS'"
    >
      <p>Rock</p>
      <p>Paper</p>
      <p>Scissors</p>
    </div>

    <div class="score">
      <p>Score</p>
      <p>{{ getScore().wins }}</p>
    </div>

    <div
      class="game-mode text-left"
      (click)="!isChoosing || setGameMode('RPSLS')"
      [class.game-mode-active]="getGameMode() === 'RPSLS'"
    >
      <p>Rock</p>
      <p>Paper</p>
      <p>Scissors</p>
      <p>Lizard</p>
      <p>Spock</p>
    </div>
  </div>

  @if (isChoosing) {
  <div class="choices">
    <img
      src="icon-rock.svg"
      alt="Rock"
      (click)="play('rock')"
      class="choice-icon"
    />
    <img
      src="icon-paper.svg"
      alt="Paper"
      (click)="play('paper')"
      class="choice-icon"
    />
    <img
      src="icon-scissors.svg"
      alt="Scissors"
      (click)="play('scissors')"
      class="choice-icon"
    />
    @if(getGameMode() === "RPSLS") {
    <img
      src="icon-lizard.svg"
      alt="Lizard"
      (click)="play('lizard')"
      class="choice-icon"
    />
    <img
      src="icon-spock.svg"
      alt="Spock"
      (click)="play('spock')"
      class="choice-icon"
    />
    }
  </div>
  } @else {
  <div class="result">
    <div>
      <p>You picked</p>
      @if(playerChoice) {
      <img
        [src]="getImageSrc(playerChoice)"
        [alt]="playerChoice"
        class="result-icon"
      />
      }
    </div>

    <div>
      <p>{{ result }}</p>
      <button (click)="resetGame()">Play Again</button>
    </div>

    <div>
      <p>The house picked</p>
      @if(computerChoice) {
      <img
        [src]="getImageSrc(computerChoice)"
        [alt]="computerChoice"
        class="result-icon"
      />
      }
    </div>
  </div>

  }
</div>
