.game-container {
  text-align: center;

  max-width: 800px;
  margin: 0 auto;
  padding-top: 5rem;
}

.mode-and-score {
  margin-bottom: 5rem;

  display: flex;
  gap: 2rem;
  align-items: center;
  justify-content: center;

  padding: 1rem 2rem;
  border: 1px solid #dedede;
  border-radius: 10px;
}

.game-mode {
  width: 20%;
  line-height: 1;
  text-transform: uppercase;
  color: #757575;
}
.game-mode:hover {
  cursor: pointer;
}
.game-mode-active {
  color: #4caf50;
}

.text-left {
  text-align: left;
  font-size: 1.4rem;
}
.text-right {
  text-align: right;
  font-size: 2.4rem;
}

.choices button {
  font-size: 16px;
}

.result p {
  font-size: 18px;
}

.score {
  text-transform: uppercase;
  font-size: 1.5rem;
  color: #3c4262;
  background-color: #f9f9f9;

  padding: 0.5rem 3rem;
  border-radius: 7px;
}

.score p:last-of-type {
  line-height: 1;
  font-size: 4rem;
  font-weight: 600;
}

.choices {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.choice-icon {
  width: 100px;
  height: 100px;
  cursor: pointer;
  margin: 10px;
  transition: transform 0.2s;
}

.choice-icon:hover {
  transform: scale(1.1);
}

.result {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.result-icon {
  width: 100px;
  height: 100px;
  margin: 5px;
}

.icon-highlight {
  outline: 2px solid gold;
  outline-offset: 2px;
}
