@font-face {
  font-family: "Kanit";
  src: url("../public/Kanit-Regular.ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Kanit";
  src: url("../public/Kanit-Bold.ttf");
  font-weight: 600;
  font-style: normal;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.2;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

#root,
#__next {
  isolation: isolate;
}

body {
  background-color: #131639;
  color: #f9f9f9;
  position: relative;
  overflow: hidden;
  height: 100vh;
  font-family: "Kanit", sans-serif;
}

body::before {
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 100%;
  background: radial-gradient(
    circle at top center,
    rgba(30, 55, 86, 1) 0%,
    rgba(30, 55, 86, 0.6) 30%,
    rgba(19, 22, 57, 0) 80%
  );
  z-index: -1;
}
